body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fdffe5;
  color: rgb(85, 85, 85);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.azul {
  color: #000cb1 !important;
}
.azul-fondo {
  background-color: #000983c7 !important;
}
.azul-borde {
  border-color: #000983c7 !important;
}
