.list-group-item:hover {
  cursor: pointer;
  color: white;
  border-color: #000983c7;
  background-color: #000983c7;
}
.list-group-item.active {
  border-color: #000983c7 !important;
  background-color: #000983c7 !important;
}
.btn-primary {
  border-color: #000983c7 !important;
  background-color: #000983c7 !important;
}
