.productos-container {
  margin: 0 10%;
  background-color: aliceblue;
  padding: 20px 0;
}

.producto-card {
  height: 100%;
  transition: scale 1s;
  border-radius: 0 0 10px 10px;
}
.card-body {
  border-radius: 0 0 10px 10px;
}

.producto-card .card-title {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.producto-card:hover {
  scale: 1.05;
  cursor: pointer;
}

@media (max-width: 768px) {
  .productos-container {
    margin: 0;
  }
  .categorias-lista li {
    font-size: 14px;
  }
}
