.acerca-de {
  background-color: aliceblue;
  margin: 0 20ch;
}

.container-acerca {
  padding: 0 10ch 10ch;
  text-align: center;
  overflow: hidden;
}
.container-acerca h2 {
  text-transform: uppercase;
  padding: 2ch 0;
  color: rgb(0, 33, 131);
  border-bottom: solid;
  margin: 0 0 2ch 0;
}
.container-acerca ul {
  list-style: none;
}
.container-acerca li {
  display: flex;
  justify-content: center;
}
.container-acerca p {
  color: rgb(85, 85, 85);
  font-size: larger;
}
.container-acerca b {
  color: rgb(255, 0, 0);
}

.container-bloque-empresa {
  display: inline-flex;
}

.img-empresa {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.logos {
  max-width: 150px;
  margin: 20px 50px;
}

@media screen and (max-width: 1200px) {
  .acerca-de {
    margin: 0;
  }
  .container-bloque-empresa {
    display: block;
  }
}
